body {
    font-family: Arial, sans-serif;
    background-color: #fff9e3;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    background-color: #1BC6FE;
    color: white;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

.portfolio {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.project {
    background-color: white;
    padding: 10px;
    margin: 5px;
    width: 100%;
    max-width: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    text-align: center;
    user-select: none;
    text-indent: 5px;
}

.project img {
    width: 100%;
    border-radius: 10px;
    height: auto;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

footer nav ul {
    list-style-type: none;
    padding: 0;
}

footer nav ul li {
    display: inline;
    margin: 0 10px;
}

footer nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

.floating-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.floating-buttons a {
    text-decoration: none;
    background-color: #333;
    color: white;
    padding: 15px;
    border-radius: 50%;
    text-align: center;
    font-size: 1.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.floating-buttons a:hover {
    background-color: #555;
}

@media (max-width: 768px) {
    .portfolio {
        flex-direction: column;
        align-items: center;
    }

    .project {
        width: 90%;
    }

    footer nav ul li {
        display: block;
        margin: 5px 0;
    }
    
.no-capture {
            user-select: none;
    } 
}
